body{
    background: black !important;
    font-family: 'Orbitron', sans-serif !important;
    font-size: 29px !important;
}
.clock{
    position: absolute;
    
    top: 50% ;
    left: 50% ;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    
    letter-spacing: 7px;
}
.break{
    font-size: x-small !important;
}
select{
    font-size: x-small !important;
}
.center-block {
    
        margin-left:auto;
        margin-right:auto;
        margin-top: auto;
        margin-bottom: auto;
        display:block;
     
 }
.personal{
    
}