body{
    background: black !important;
    font-family: 'Orbitron', sans-serif !important;
}
.clock{
    position: absolute;
    
    top: 50% ;
    left: 50% ;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    
    letter-spacing: 7px;
}
.cCenter{
    

}
.personal{
    
}